{% extends 'base.html.twig' %}

{% block title %}Nos catégories{% endblock %}

{% block body %}
<h1>Nos catégories</h1>

<div class="container">
    {% for category in categories %}
        <div class="col">
            <h2>{{ category.title }}</h2>
            <p>{{ category.description | striptags | u.truncate(10, '...', true) }}</p>
            <a href="{{ path('app_category', { id: category.id }) }}">Voir</a>   
        </div>
    {% endfor %}
</div>
{% endblock %}