{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Retrouvez tous nos univers</h1>

    <ul>
        {% for category in categories %}
            <li><a href="{{ path('app_category', { id: category.id }) }}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}