{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<h1>{{ product.name }}</h1>

{# <div class="container">
    {% for product in category.products %}
        <div class="col">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description | striptags | u.truncate(10, '...', true) }}</p>
            <a>Voir</a>   
        </div>
    {% endfor %}
</div> #}

{% endblock %}
